{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 dark:text-white">Garde Robe</h1>

    {% for clothingItem in clothingItems %}
        <div class="border p-4 rounded-lg shadow-lg mb-4 bg-white dark:bg-gray-800 dark:text-gray-300">
            <h2 class="text-lg font-semibold dark:text-white">{{ clothingItem.name }}</h2>

            {% if clothingItem.image %}
                <img src="{{ asset(clothingItem.image) }}" alt="{{ clothingItem.name }}" class="w-32 h-32 object-cover mt-2">
            {% endif %}

            <p class="text-gray-600 dark:text-gray-400">Catégorie : {{ clothingItem.category }}</p>

            {% if clothingItem.brand %}
                {% if clothingItem.brand.website %}
                    <p class="mb-4 text-blue-600 dark:text-blue-900">Marque : <a href="{{ clothingItem.brand.website }}" target="_blank" class="text-blue-500 hover:text-blue-700">{{ clothingItem.brand.name }}</a></p>
                {% else %}
                    <p class="mb-4 text-gray-600 dark:text-gray-400">Marque : {{ clothingItem.brand.name }}</p>
                {% endif %}
            {% else %}
                <p class="mb-4 text-gray-600 dark:text-gray-400">Marque : Non spécifiée</p>
            {% endif %}

            <form method="post" action="{{ path('app_clothing_item_delete', {'id': clothingItem.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clothingItem.id) }}">
                <button class="btn mt-4 bg-red-500 dark:bg-red-600 text-white px-4 py-2 rounded hover:bg-red-600 dark:hover:bg-red-500">Delete</button>
            </form>

        </div>
    {% else %}
        <p class="dark:text-gray-300">Aucun vêtement disponible.</p>
    {% endfor %}    
    
    <div class="mt-6">
        <h2 class="text-xl font-semibold dark:text-white mb-4">Ajouter un nouveau vêtement</h2>
        {{ form_start(formClothingItem) }}
            <div class="space-y-4">
                <div>
                    {{ form_label(formClothingItem.name, 'Nom du vêtement', {'attr': {'class': 'text-gray-700 dark:text-white'}}) }}
                    {{ form_widget(formClothingItem.name, {'attr': {'class': 'border p-2 rounded dark:bg-gray-700 dark:text-white dark:border-gray-600 w-full'}}) }}
                </div>

                <div>
                    {{ form_label(formClothingItem.category, 'Catégorie', {'attr': {'class': 'text-gray-700 dark:text-white'}}) }}
                    {{ form_widget(formClothingItem.category, {'attr': {'class': 'border p-2 rounded dark:bg-gray-700 dark:text-white dark:border-gray-600 w-full'}}) }}
                </div>

                <div>
                    {{ form_label(formClothingItem.image, 'Choisir une image', {'attr': {'class': 'text-gray-700 dark:text-white'}}) }}
                    {{ form_widget(formClothingItem.image, {'attr': {'class': 'border p-2 rounded dark:bg-gray-700 dark:text-white dark:border-gray-600 w-full'}}) }}
                </div>

                <div>
                    {{ form_label(formClothingItem.brand, 'Marque', {'attr': {'class': 'text-gray-700 dark:text-white'}}) }}
                    {{ form_widget(formClothingItem.brand, {'attr': {'class': 'border p-2 rounded dark:bg-gray-700 dark:text-white dark:border-gray-600 w-full'}}) }}
                </div>

                <button type="submit" class="bg-green-500 dark:bg-green-600 text-white p-2 rounded hover:bg-green-600 dark:hover:bg-green-500">
                    Ajouter le vêtement
                </button>
            </div>
        {{ form_end(formClothingItem) }}
    </div>
{% endblock %}
