{% extends 'base.html.twig' %}

{% block title %}Profil de {{ owner.name }}{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto mt-10 bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold text-center text-gray-900 dark:text-white mb-6">Profil de {{ owner.name }}</h2>

        <div class="mb-6">
            <h3 class="text-lg font-medium text-gray-700 dark:text-white">Informations</h3>
            <table class="table-auto w-full mt-4">
                <tbody>
                    <tr>
                        <th class="px-4 py-2 text-left font-semibold">Nom</th>
                        <td class="px-4 py-2">{{ owner.name }}</td>
                    </tr>
                    <tr>
                        <th class="px-4 py-2 text-left font-semibold">Email</th>
                        <td class="px-4 py-2">{{ owner.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mb-6">
            <h3 class="text-lg font-medium text-gray-700 dark:text-white">Outfits Publics</h3>
            {% if outfits is empty %}
                <p class="mt-4 text-gray-500 dark:text-gray-400">Aucun outfit public n'a été créé.</p>
            {% else %}
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
                    {% for outfit in outfits %}
                        <div class="bg-white dark:bg-gray-700 p-4 rounded-lg shadow-md">
                            <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">{{ outfit.name }}</h4>
                            <div class="mt-4">
                                <ul class="space-y-4">
                                    {% for clothing in outfit.items %}
                                        <li class="bg-gray-100 dark:bg-gray-700 p-2 rounded flex items-center">
                                            {% if clothing.image %}
                                                <img src="{{ asset(clothing.image) }}" alt="{{ clothing.name }}" class="w-[100px] h-[100px] object-cover mr-4">
                                            {% endif %}

                                            <div>
                                                <strong class="dark:text-white">{{ clothing.name }}</strong><br>

                                                <span class="dark:text-gray-300">
                                                    Catégorie : {{ clothing.category }}

                                                </span><br>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
